@font-face {
  font-family: 'Caveat';
  src: url('fonts/Caveat.ttf') format('truetype');
}

@font-face {
  font-family: 'DynaPuff';
  src: url('fonts/DynaPuff.ttf') format('truetype');
}

body {
  background-color: rgb(155, 155, 155);
  margin: 0;
  padding: 0;
  font-family: 'DynaPuff', cursive;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}

.header {
  text-align: center;
  padding: 1em 0;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.menu a {
  margin: 0.5em 1em;
  text-decoration: none;
  color: black;
}

.content {
  padding: 1em;
}

.footer {
  text-align: center;
  padding: 2em 0;
}

h1 {
  font-size: 1em;
  margin: 0;
  font-family: 'Caveat', cursive;
}

h2 {
  font-size: 3em;
  margin-bottom: 1em;
  font-family: 'Caveat', cursive;
}

h3 {
  font-size: 2em;
  margin-top: 2em;
  font-family: 'Caveat', cursive;
}

p {
  font-size: 1em;
  color: #555555;
  margin-bottom: 1.5em;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  font-family: 'Caveat', cursive;
}

button {
  display: block;
  width: 150px;
  padding: 0.4em 1em;
  font-size: 0.9em;
  margin-bottom: 0.8em; 
  box-sizing: border-box;
}

img {
  max-width: 200px;
  border-radius: 20px;
  margin-top: 1em;
}

@media (max-width: 639px) {
  body {
    margin-left: 16px;
    margin-right: 16px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 22px;
  }

  .menu {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 640px) {
  body {
    margin-left: 64px;
    margin-right: 64px;
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 48px;
  }

  h3 {
    font-size: 32px;
  }

  .menu {
    flex-direction: row;
  }
}
