body {
  background-color: rgb(155, 155, 155);
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: start;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  gap: 2em;
  background-color: #fff;
  padding: 1em;
  box-sizing: border-box;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  grid-area: header;
  text-align: center;
  margin-top: 1em;
  padding: 1em;
}

.menu {
  grid-area: menu;
  padding: 2em 1em;
  margin-top: 3em;
}

.content {
  grid-area: content;
  margin-top: 3em;
  padding-top: 5em;
  padding-left: 3em;
  padding-right: 3em;
}

.footer {
  grid-area: footer;
  text-align: center;
  padding: 3em;
}

.footer a {
  margin: 0 2em;
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1em;
  margin: 0;
}

h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

h3 {
  font-size: 2em;
  margin-top: 2em;
}

p {
  font-size: 1em;
  color: #555555;
  margin-bottom: 1.5em;
  border-bottom: 3px solid black;
  padding-bottom: 10px;
}

button {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
}

img {
  max-width: 200px;
  border-radius: 20px;
  margin-top: 1em;
}
